<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: white;" href="#">Halo <%= data.Profile.fullName %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" style="color: palevioletred;" aria-current="page" href="/users">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: palevioletred;" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: palevioletred;" href="#">Pricing</a>
        </li>
      </ul>
    </div>
    <div style="float: right;">
      <% if(data.Profile){ %>
        <img style="height: 80px; width: 80px;" src="<%= data.Profile.imageUrl %>" alt="">
      <% } %> 
    </div>
  </div>
</nav>